{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PAGENAME{% endblock %}</title>
</head>
{% block body %}

<body>
{% set value = random(1000) %}
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/app_dev.php">Home</a></li>
            <li><a href="/app_dev.php/lucky/number/{{ value }}">Random numbers</a></li>
            <li><a href="/app_dev.php/lucky/service">Kindly Service</a></li>
            <li><a href="/app_dev.php/task/new">Task Formbuilder</a></li>
            <li><a href="/app_dev.php/lucky/show">Show Lucky DB</a></li>
            <li><a href="/app_dev.php/task/show">Show Task DB</a></li>
            <br/><br/>
        </ul>
            <form action="/app_dev.php/lucky/form" method="post">
                <h3>DB Poster</h3>
                <p>Range(0,1000):&nbsp;<input type="text" name="numbrange" /></p>
                <p><input type="submit" /></p>
            </form>
            </br>
            <form action="/app_dev.php/lucky/find" method="post">
                <h3>DB Finder</h3>
                <p>Entry ID:&nbsp;<input type="text" name="contentid" /></p>
                <p><input type="submit" /></p>
            </form>
            <br/>
            <form action="/app_dev.php/lucky/erase" method="post">
                <h3>DB Eraser: </h3>
                <p>Entry ID:&nbsp;<input type="text" name="contentid" /></p>
                <p><input type="submit" /></p>
            </form>
            <br/>
            <form action="/app_dev.php/lucky/update" method="post">
                <h3>DB Updater: </h3>
                <p>Entry ID:&nbsp;<input type="text" name="contentid" /></p>
                <p><input type="submit" /></p>
            </form>
    {% endblock %}
</div>
</body>
{% endblock %}
</html>